h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #B40404;
    border-radius: 50%;
    width: 1.2em;
    text-align: center;
}

textarea {
    resize: none;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
